<div class="col-xs-12 col-sm-12">
  <div class="widget-box">
    <div class="widget-header">
      <h4>跟进</h4>

													<span class="widget-toolbar">
														<a href="#" data-action="collapse">
                                                          <i class="icon-chevron-up"></i>
                                                        </a>

													</span>
    </div>

    <div class="widget-body">
      <div class="widget-main">

      </div>
    </div>
  </div>
</div><!-- /span -->