<%= form_for(@appointtp,:html => {:class=>'form-horizontal m-t',:multipart => true}) do |f| %>
    <h3 class="header smaller lighter blue">

      <small></small>
    </h3>
    <div class="form-group">
      <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 跟进方式 </label>
      <div class="col-sm-10">
        <%= f.text_field :appointtype,class:"col-xs-10 col-sm-8" %>
      </div>
    </div>


    <div class="clearfix form-actions">
      <div class="col-md-offset-2 col-md-10">
        <button type="submit" name="commit" value="保存" class="btn btn-info" data-disable-with="保存" id="submit">
          <i class="icon-ok bigger-110"></i>
          保存
        </button>
        &nbsp;&nbsp;&nbsp;

        <a class="btn" href=<%= appointtps_path %>>
          <i class="icon-undo bigger-110"></i>
          返回
        </a>
      </div>
    </div>
<% end %>