<%= render 'layerbegin' %>
<div class="page-content">
  <div class="page-header">
    <h1>
      用户
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12">
      <%= render 'form', user: @user %>
    </div>
  </div>
</div>
<%= render 'layerend' %>